/* This is a style css to the index.html in the root*/


@media (min-width: 100rem) {
    section {
      background-color: rgb(73, 149, 174);
    }
}

@font-face {
    font-family: robot;
    src: url(resources/Roboto-Regular.ttf);
}
* {
    font-family: robot;
}
a[target="_blank"] { 
    background-color: rgb(179, 133, 129);
}

/* Sets the dominate background color for the page */
.history{
    background-color: #95a7b6;
    margin: auto;
    padding: 8px;
    
}

/* Sets the background of new entry area color for the page */
.newEntry{
    background-color: rgb(149, 172, 160);
    margin: auto;
    padding: 8px;
    
}

.note{
    background-color: hsl(10,20,30);
}


section{
    width: 60vw;
    margin: 10px 5px 10px 5px;
    display: block;
    min-width: 500px;
    max-width: 800px;
}
#newSec{
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color:  rgb(40, 25, 3);
    border-radius: 1em;
}
section:not(.specialSection){

    border-width: 2px;
    border-style: solid;
    border-color:  rgb(34, 21, 2);
    border-radius: 1em;
    padding: 8px;
    
}

img:not(.gridImg){
    width: 10cm
}

video{
    width: 4in
}

audio{
    width: 100mm
}

ul{
    width: 12em;
    padding-top: 0px;
    padding-bottom:0px;
    padding-left:50px;
    padding-right:0px;
}

ol{
    width: 12rem;
    padding: 0px,0px,50px,0px;
}

/* Descendant Combinator */
ol li{
    padding-left: 10px;
}

/* Child Combinator */
p > i {
    background-color: rgb(198, 139, 139);
}

/* General sibling combinator */
h4 ~ button{
    background-color: rgb(167, 183, 228);
}

/* Adjacent sibling combinator */
li:first-of-type + li {
    background-color: rgb(138, 187, 230);
}

/* Combining Two Selectors */
h1,h2,h3{
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0em;
    
}


/* This decoration aims to better seperate the headers from the content */
.headers{
    border-bottom: 5px double rgb(3, 12, 48);
}

.container{
    background-color: rgb(71, 193, 193);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}

.headers:active{
    font-size: xx-large;
}

.funny{
    position: static;
    color: rgb(12, 30, 101);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(4, 85, 41);
    text-align:start;

}

.header{
    position: sticky;
    display: inline;
    margin: 20px;
}
button:hover {
    background-color: rgb(208, 129, 145);
    font-size: 20px;
  }


.grid{
    display: grid;
    grid-template-columns: 30% 30% auto;
    grid-template-rows: 50% auto;
    row-gap: 5px;
    column-gap: 10px;
}

section.specialSection{
    margin-top: 50px;
}